/* CSS RESET E CONFIGURAÇÕES DO BODY */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    list-style: none;
}

body {
    font-family: 'Raleway', sans-serif;
    color: black;
}


/* HEADER */
#header {
    background-color: white;
    border: 3px solid red;
    padding: 0.6em;
}

#logo {
    font-size: 20px;
    font-weight: 540;
    font-family: sans-serif;
    color: brown;
    padding-left: 20px;
    border: 3px solid purple;
}

#lupa-header {
    float: right;
    border: 3px solid black;
    display: inline-block;
}


/* MAIN */

#nav-first-section{
    display: block;
    border: 3px solid purple;
    text-align: center;
    margin-top: 11.68em;
}

.list-first-section{
    margin: -2px;
    font-size: 16px;
    color: antiquewhite;
    background-color: black;
    padding: 10px 5.48em;
    display: inline;
    
}

#borda-teste {
    border: 2px solid pink;
    background-image: url("imagens/london.jpg");
    background-size: cover;
    height: 600px;
}

#background-color {
    background-color: aliceblue;
    padding-bottom: 95px;
    margin: 5px 17.61%;
    /* border: 3px solid yellow; */
}

#primeiro {
    background-color: brown;
}

#h2-first-section{
    display: inline-block;
    font-size: 23px;
    font-weight: 400;
    padding: 25px 11px 8px;
    border: 3px solid yellow;

}

#first-section-content {
    display: block;
    border: 3px solid blue;
}

#p-section1-1{
    font-size: 14px;
    padding: 0px 0 5px 11.5px;
}

.label {
    display: inline-block;
    color: rgb(95, 95, 95);
    font-size: 14px;
    border: 1px solid rgb(189, 189, 189);
    margin-left: 11.5px;
    padding: 8px 4px 8px 4px;
}